* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

header {
  width: 100%;
}

header div {
  width: 1600px;
  height: 60px;
  margin: auto;
  padding: 0px 180px;
  box-sizing: border-box;
}

header div .left {
  float: left;
}

header div .left li {
  float: left;
  font-size: 16px;
  width: 80px;
  text-align: center;
  line-height: 60px;
  color: #73615D;
}

header div .left li:nth-child(1) {
  width: 120px;
  background: url("./../img/logonew.png") 0px 4px no-repeat;
  height: 60px;
  background-size: 100%;
  margin-right: 10px;
}

header div .left li:nth-child(2) {
  color: red;
}

header div .right {
  float: right;
}

header div .right li div {
  padding: 0;
  width: 80px;
  float: left;
  background: url("./../img/search.png") 18px 18px no-repeat;
}

header div .right li span {
  float: left;
  padding: 4px 6px;
  border: 1px solid;
  margin: 15px 0px;
  color: red;
}

.b_big {
  width: 100%;
  background-color: #505050;
}

.b_big .bottom {
  width: 1600px;
  height: 500px;
  margin: 0 auto;
  background-color: #505050;
  padding-top: 50px;
  padding-left: 80px;
}

.b_big .bottom .code {
  float: left;
}

.b_big .bottom .jiguo {
  float: left;
  margin: 0 30px;
}

.b_big .bottom .lis {
  float: left;
}

.b_big .bottom .lis .d_ul {
  overflow: hidden;
  float: left;
  margin-left: 20px;
  width: 200px;
}

.b_big .bottom .lis .d_ul span {
  color: #fff;
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
}

.b_big .bottom .lis .d_ul ul {
  float: left;
  margin-right: 20px;
}

.b_big .bottom .lis .d_ul ul li {
  list-style: none;
  font-size: 14px;
  color: #A2A6A5;
}
