*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
.clear{
    width: 0px;
    height: 0px;
    clear:both;
}

header{
    width: 100%;
    // 头部
    .now{
        width: 1600px;
        height:60px;
        margin: auto;
        // background: #670000;
        padding: 0px 180px;
        box-sizing: border-box;
        .left{
            float: left;
            li{
                float: left;
                font-size: 16px;
                width: 80px;
                text-align: center;
                line-height: 60px;
                color: #73615D;
            }
            li:nth-child(1){
                width: 120px;
                background: url('./../img/logonew.png') 0px 4px no-repeat;
                height: 60px;
                background-size: 100%;
                margin-right: 10px;
            }
            li:nth-child(2){
               color: red;
            }
        }
        .right{
            float: right;
            li{
                div{
                    padding: 0;
                    width: 80px;
                    height: 60px;
                    float: left;
                    background: url('./../img/search.png') 30px 20px no-repeat;
                }
               span{
                float: right;
                padding: 4px 6px;
                border: 1px solid;
                margin: 15px 15px 0px;
                color: red;
               }
               
            }
        }
        
    }
    // 中部
    section{
        overflow: hidden;
        width: 100%;
        height: 300px;
        background: url('./../img/original.jpg') 0px 0px no-repeat;
        background-size: 100%  100%;
       .box{
            width: 1600px;
            padding: 0px 180px;
            margin: auto;
            color: #fff;
            position: relative;
           animation: aa 1s ease 0.5 ;
           @keyframes aa {
              0% {
                transform:translate(500px,-300px);
              } 
              40% {
                transform:translate(380px,-200px);
              } 
              60% {
                transform:translate(260px,-100px);
              } 
              80% {
                transform:translate(80px,-10px);
              } 
              100%{
                transform:translate(0px,-0px) ;
              }
           }
           

          .box1{
                position: absolute;
                padding-top:60px;
                right: 180px;
                h1{
                    font-size: 30px;
                }
                div{
                    margin: 25px 0px;
                    span{
                      margin-right: 28px;
                      border: 1px solid ;
                      padding:5px 6px;
                      box-sizing: border-box;
                      background: rgba(255,255,255,0.4);
                    }
                    span:nth-child(1){
                        margin-left: 6px;
                    }
                }
                .div_{
                    width: 240px;
                    height: 40px;
                    text-align: center;
                    line-height: 40px;
                    font-size: 18px;
                    font-weight: 600;
                    background: red;
                    margin-left: 18px;
                }
            }
        }
    }
    // 轮播图
.left_right{
    width: 1600px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    .lun_left{
        position: absolute;
        top: 150px;
        left: -30px;
    }
    .lun_right{
        position: absolute;
        top: 150px;
        right: 0px;
    }
.lun1{
    width: 1600px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;

    #d1{
        width: 5200px;
        height: 400px;
        // overflow: auto;
        .min_dd{
            width: 320px;
            float: left;
            text-align: center;
            margin-right: 80px;
            position: relative;
            .top_right{
                position: absolute;
                top: 0px;
                right: 0px;
                display: block;
                // width: 50px;
                height: 30px;
                background-color: red;
                color: #Fff;
                text-align: center;
                line-height: 30px;
                border-radius: 10px;
            }
            img{
                width: 320px;
                height: 188px;
            }
            .brief{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: bold;
            }
            .nu_{
                height: 25px;
                width: 150px;
                margin: 0 auto;
                .totalnum{
                    color: #FC5C46;
                    border: 1px solid;
                    display: block;
                    float: left;
                    width: 70px;
                    border-radius: 7px;
                    margin-right: 20px;
                }
                .num{
                    color: #FC5C46;
                    border: 1px solid;
                    display: block;
                    float: left;
                    width: 60px;
                    border-radius: 7px;

                }
            }
            .apply{
                color: #FC5C46;
            }
            .surplus{
                color: #FC5C46;
            }

        }
    }
}
}

//   精选报告
    .report{
        width: 100%;
        background: #F7F7F7;
        .report_1{
            width: 1600px;
            padding: 20px 180px;
            margin: auto;
            h3{
                margin-bottom: 10px;
            }
            .__ajax{
                width: 220px;
                height: 240px;
                background: #505050;
                border-radius: 6%;
                ._ajax_imgs{
                    border-radius: 6%;
                    width: 220px;
                    height: 130px;
                    background: #234123;
                }
                p{
                    height: 60px;
                    width: 220px;
                    background: green;
                }
                div{
                    span:nth-child(1){
                        font-size: 30px;
                        font-weight: 900;
                        box-sizing: border-box;
                        margin-left: 5px;
                    }
                   div{
                       float: right;
                       span:nth-child(2){
                           margin-right: 7px;
                       }
                   }
                }
            }
        }
    }
}

//   底部
// <!-- 页面底部 -->
.b_big{
width: 100%;
background-color: #505050;

.bottom{
    width: 1600px;
    height: 500px;
    margin: 0 auto;
    background-color: #505050;
    padding-top: 50px;
    padding-left: 80px;
    .code{
        float: left;
    }
    .jiguo{
        float: left;
        margin: 0 30px;
    }
    .lis{
        float: left;
        
        .d_ul{
            overflow: hidden;
            float: left;
            margin-left: 20px;
            width: 200px;
            // text-align: center;
        span{
            // float: left;
            color: #fff;
            font-size: 20px;
            display: block;
            margin-bottom: 10px;
        }
        ul{
            float: left;
            margin-right: 20px;
            li{
                list-style: none;
                font-size: 14px;
                color: #A2A6A5;
            }
        }
        }

    }
  }
}
