* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.clear {
  width: 0px;
  height: 0px;
  clear: both;
}

header {
  width: 100%;
}

header .now {
  width: 1600px;
  height: 60px;
  margin: auto;
  padding: 0px 180px;
  box-sizing: border-box;
}

header .now .left {
  float: left;
}

header .now .left li {
  float: left;
  font-size: 16px;
  width: 80px;
  text-align: center;
  line-height: 60px;
  color: #73615D;
}

header .now .left li:nth-child(1) {
  width: 120px;
  background: url("./../img/logonew.png") 0px 4px no-repeat;
  height: 60px;
  background-size: 100%;
  margin-right: 10px;
}

header .now .left li:nth-child(2) {
  color: red;
}

header .now .right {
  float: right;
}

header .now .right li div {
  padding: 0;
  width: 80px;
  height: 60px;
  float: left;
  background: url("./../img/search.png") 30px 20px no-repeat;
}

header .now .right li span {
  float: right;
  padding: 4px 6px;
  border: 1px solid;
  margin: 15px 15px 0px;
  color: red;
}

header section {
  overflow: hidden;
  width: 100%;
  height: 300px;
  background: url("./../img/original.jpg") 0px 0px no-repeat;
  background-size: 100%  100%;
}

header section .box {
  width: 1600px;
  padding: 0px 180px;
  margin: auto;
  color: #fff;
  position: relative;
  animation: aa 1s ease 0.5;
}

@keyframes aa {
  0% {
    transform: translate(500px, -300px);
  }
  40% {
    transform: translate(380px, -200px);
  }
  60% {
    transform: translate(260px, -100px);
  }
  80% {
    transform: translate(80px, -10px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

header section .box .box1 {
  position: absolute;
  padding-top: 60px;
  right: 180px;
}

header section .box .box1 h1 {
  font-size: 30px;
}

header section .box .box1 div {
  margin: 25px 0px;
}

header section .box .box1 div span {
  margin-right: 28px;
  border: 1px solid;
  padding: 5px 6px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.4);
}

header section .box .box1 div span:nth-child(1) {
  margin-left: 6px;
}

header section .box .box1 .div_ {
  width: 240px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  font-weight: 600;
  background: red;
  margin-left: 18px;
}

header .left_right {
  width: 1600px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

header .left_right .lun_left {
  position: absolute;
  top: 150px;
  left: -20px;
}

header .left_right .lun_right {
  position: absolute;
  top: 150px;
  right: 0px;
}

header .left_right .lun1 {
  width: 1600px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

header .left_right .lun1 #d1 {
  width: 5200px;
  height: 400px;
}

header .left_right .lun1 #d1 .min_dd {
  width: 320px;
  float: left;
  text-align: center;
  margin-right: 80px;
  position: relative;
}

header .left_right .lun1 #d1 .min_dd .top_right {
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
  height: 30px;
  background-color: red;
  color: #Fff;
  text-align: center;
  line-height: 30px;
  border-radius: 10px;
}

header .left_right .lun1 #d1 .min_dd img {
  width: 320px;
  height: 188px;
}

header .left_right .lun1 #d1 .min_dd .brief {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

header .left_right .lun1 #d1 .min_dd .nu_ {
  height: 25px;
  width: 150px;
  margin: 0 auto;
}

header .left_right .lun1 #d1 .min_dd .nu_ .totalnum {
  color: #FC5C46;
  border: 1px solid;
  display: block;
  float: left;
  width: 70px;
  border-radius: 7px;
  margin-right: 20px;
}

header .left_right .lun1 #d1 .min_dd .nu_ .num {
  color: #FC5C46;
  border: 1px solid;
  display: block;
  float: left;
  width: 60px;
  border-radius: 7px;
}

header .left_right .lun1 #d1 .min_dd .apply {
  color: #FC5C46;
}

header .left_right .lun1 #d1 .min_dd .surplus {
  color: #FC5C46;
}

header .report {
  width: 100%;
  background: #F7F7F7;
}

header .report .report_1 {
  width: 1600px;
  padding: 20px 180px;
  margin: auto;
  height: 635px;
  overflow: hidden;
}

header .report .report_1 h3 {
  margin-bottom: 10px;
}

header .report .report_1 .__ajax {
  width: 220px;
  height: 240px;
  border-radius: 6%;
  float: left;
  margin: 20px 44px;
  background: #Fff;
}

header .report .report_1 .__ajax ._ajax_imgs {
  border-radius: 6%;
  width: 220px;
  height: 130px;
}

header .report .report_1 .__ajax ._ajax_imgs img {
  width: 220px;
  height: 130px;
  border-radius: 6% 6% 0 0;
}

header .report .report_1 .__ajax p {
  height: 60px;
  width: 220px;
  padding-top: 14px;
  box-sizing: border-box;
  overflow: hidden;
}

header .report .report_1 .__ajax .fabulous span:nth-child(1) {
  font-size: 30px;
  font-weight: 900;
  box-sizing: border-box;
  margin-left: 5px;
}

header .report .report_1 .__ajax .fabulous div {
  float: right;
}

header .report .report_1 .__ajax .fabulous div span:nth-child(2) {
  margin-right: 7px;
}

header .guide {
  width: 100%;
}

header .guide .guide_1 {
  width: 1600px;
  padding: 20px 180px;
  background: #fff;
  margin: auto;
  overflow: hidden;
  height: 317px;
  margin-bottom: 50px;
}

header .guide .guide_1 .guide_div {
  width: 220px;
  height: 240px;
  border-radius: 6%;
  float: left;
  margin: 20px 44px;
  background: #Fff;
  position: relative;
}

header .guide .guide_1 .guide_div div img {
  width: 220px;
  height: 130px;
  border-radius: 6% 6% 0 0;
}

header .guide .guide_1 .guide_div p {
  height: 60px;
  width: 220px;
  padding-top: 10px;
  box-sizing: border-box;
}

header .guide .guide_1 .guide_div .fabulous span img {
  width: 10px;
  height: 10px;
}

header .guide .guide_1 .guide_div .fabulous span:nth-child(3) {
  margin-left: 10px;
}

header .guide .guide_1 .guide_div .fabulous span:nth-child(1) {
  margin-left: 10px;
}

header .guide .guide_1 .guide_div .button_border2 {
  border-bottom: 2px solid #E5E7E6;
  border-radius: 0px 0px 8px 8px;
  height: 240px;
  width: 200px;
  position: absolute;
  bottom: 5px;
}

header .guide .guide_1 .guide_div .button_border1 {
  border-bottom: 3px solid #E5E7E6;
  border-radius: 0px 0px 12px 12px;
  height: 240px;
  width: 160px;
  position: absolute;
  bottom: -1px;
  left: 17px;
  z-index: 5;
}

header .guide .guide_1 .guide_div .button_border3 {
  border-radius: 0px 0px 12px 12px;
  border-bottom: 3px solid #E5E7E6;
  height: 240px;
  width: 130px;
  position: absolute;
  bottom: -8px;
  left: 35px;
}

.b_big {
  width: 100%;
  background-color: #505050;
}

.b_big .bottom {
  width: 1600px;
  height: 500px;
  margin: 0 auto;
  background-color: #505050;
  padding-top: 50px;
  padding-left: 80px;
}

.b_big .bottom .code {
  float: left;
}

.b_big .bottom .jiguo {
  float: left;
  margin: 0 30px;
}

.b_big .bottom .lis {
  float: left;
}

.b_big .bottom .lis .d_ul {
  overflow: hidden;
  float: left;
  margin-left: 20px;
  width: 200px;
}

.b_big .bottom .lis .d_ul span {
  color: #fff;
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
}

.b_big .bottom .lis .d_ul ul {
  float: left;
  margin-right: 20px;
}

.b_big .bottom .lis .d_ul ul li {
  list-style: none;
  font-size: 14px;
  color: #A2A6A5;
}
