.geren_min2 {
  float: left;
  width: 150px;
}

.box {
  width: 100%;
}

.box .box1 {
  width: 1600px;
  padding: 20px 180px 0px;
  margin: auto;
}

.box .box1 h1 {
  text-align: center;
  font-size: 2.5em;
  margin: 20px 0px;
}

.box .box1 .div_felt {
  margin-top: 40px;
  overflow: hidden;
}

.box .box1 .div_felt div {
  float: left;
  font-size: 30px;
  margin-right: 140px;
  padding: 15px 40px;
}

.box .box1 .div_felt div:nth-child(1) {
  margin-left: 270px;
}

.box .box1 .div_felt .div_red {
  color: red;
  border-bottom: 2px solid red;
}

.box .box1 .div_felt .body_div {
  width: 100%;
  background: #F7F7F7;
}

.box .box1 .div_felt .body_div .body_div1 {
  width: 1600px;
  padding: 180px;
}

.box .body_div {
  width: 100%;
  background: #F7F7F7;
}

.box .body_div .body_div1 {
  width: 1600px;
  margin: auto;
  overflow: hidden;
}

.box .body_div .body_div1 .category {
  width: 1600px;
  margin: auto;
  overflow: hidden;
}

.box .body_div .body_div1 .category .sh {
  padding-left: 180px;
  background-color: #fff;
  margin-top: 50px;
}

.box .body_div .body_div1 .category .shenghuo {
  width: 1600px;
  box-sizing: border-box;
  overflow: hidden;
  padding-top: 20px;
  border-bottom: 1px solid black;
}

.box .body_div .body_div1 .category .shenghuo .play_min {
  margin-right: 120px;
  float: left;
  overflow: hidden;
  height: 150px;
  text-align: center;
  margin-top: 30px;
}

.box .body_div .body_div1 .category .shenghuo2 {
  width: 1600px;
  height: 200px;
  box-sizing: border-box;
  overflow: hidden;
}

.box .body_div .body_div1 .category .shenghuo2 .play_min2 {
  float: left;
  margin-top: 30px;
  width: 200px;
}

.box .body_div .body_div1 .category .geren {
  padding-left: 180px;
  background-color: #fff;
  margin-top: 50px;
}

.box .body_div .body_div1 .category .geren .gr_top {
  width: 1600px;
  overflow: hidden;
}

.box .body_div .body_div1 .category .geren .gr_top .geren_min {
  width: 200px;
  float: left;
  margin-top: 30px;
}

.box .body_div .body_div1 .category .geren .gr_bottom {
  width: 1600px;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  margin-top: 30px;
  border-top: 1px solid black;
}

.box .body_div .body_div1 .ajax_22 {
  float: left;
  width: 220px;
  margin: 30px;
  height: 250px;
  background: #fff;
  position: relative;
  border-radius: 5%;
}

.box .body_div .body_div1 .ajax_22 .imgs {
  width: 220px;
}

.box .body_div .body_div1 .ajax_22 .imgs img {
  width: 220px;
  border-radius: 5% 5% 0% 0%;
  height: 130px;
}

.box .body_div .body_div1 .ajax_22 p {
  width: 220px;
  height: 40px;
  margin: 15px 0px;
}

.box .body_div .body_div1 .ajax_22 .m_z {
  margin: 20px 10px 0px;
}

.box .body_div .body_div1 .ajax_22 .m_z span {
  color: red;
}

.box .body_div .body_div1 .ajax_22 .m_z div {
  float: right;
}
