section{
        overflow: hidden;
        width: 100%;
        height: 300px;
        background: url('./../img/original.jpg') 0px 0px no-repeat;
        background-size: 100%  100%;
    .box{
        width: 1600px;
        padding: 0px 180px;
        margin: auto;
        color: #fff;
        position: relative;
    animation: aa 1s ease 0.5 ;
    @keyframes aa {
        0% {
            transform:translate(500px,-300px);
        } 
        40% {
            transform:translate(380px,-200px);
        } 
        60% {
            transform:translate(260px,-100px);
        } 
        80% {
            transform:translate(80px,-10px);
        } 
        100%{
            transform:translate(0px,-0px) ;
        }
    }
    

    .box1{
            position: absolute;
            padding-top:60px;
            right: 180px;
            h1{
                font-size: 30px;
            }
            div{
                margin: 25px 0px;
                span{
                margin-right: 28px;
                border: 1px solid ;
                padding:5px 6px;
                box-sizing: border-box;
                background: rgba(255,255,255,0.4);
                }
                span:nth-child(1){
                    margin-left: 6px;
                }
            }
            .div_{
                width: 240px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                font-size: 18px;
                font-weight: 600;
                background: red;
                margin-left: 18px;
            }
        }
    }
}
.boxb{
    width: 100%;
    background: #F0F0F0;
    height: 100px;
    .boxb1{
        width: 1600px;
        padding: 20px 180px ;
        height: 100px;
        margin: auto;
        ul{
            overflow: hidden;
            li{
                height: 60px;
                width: 80px;
                float: left;
                margin: 0px 60px;
                color: #7B7A7A;
                text-align: center;
                line-height: 90px;
                position: relative;
                img{
                    width: 25px;
                    height: 25px;
                    position: absolute;
                    top:4px;
                    left: 28px;
                }
            }
            li:nth-child(1){
                border-left:7px solid red ;
                font-size:20px;
                font-weight: 600;
                max-width: 60px;
                line-height: 30px;
                color: #03030f;
            }
        }
    }
}
.introduce{
    width: 100%;
    .introduce1{
        width:1600px;
        margin: auto;
        padding: 20px 180px;
        overflow: hidden;
        .introduce2{
            width: 700px;
            margin-left: 60px;
            float: left;
            .title{
              border-left: 7px solid red;
              padding: 5px 10px;
            }
            h3{
                color: red;
                padding:20px 0px;
            }
            p{
                margin:20px 0px;
                line-height: 27px;
            }
            img{
                width: 700px;
            }
            .titleblue{
                color: blue;
                position: 45px 0px;
            }
            h4{
                color: blue;
                padding: 30px 0px   ;
            }
            .a1{
                margin: 0px;
                span{
                    font-weight: 600;
                }
            }
        }
        .intr3{
            width: 280px;
            float: right;
            margin-right: 160px;
            h3{
                padding: 5px 15px;
                border-left:7px solid red ;
            }
            h1{
                padding: 20px 30px;
                color: red;
            }
            div{
                width: 280px;
                height: 40px;
                background: red;
                color:#fff ;
                font-size: 600;
                font-size: 20px;
                text-align: center;
                line-height: 40px;
                border-radius: 10px;
            }
            .gw{
                text-align: center;
                color: #7B7A7A;
                font-size: 14px;
                padding: 10px 0px 20px ;
            }
            img{
                width: 280px;
                margin: 10px 0px;
            }
            p{
                color: #7B7A7A;
                font-size: 14px;
                padding:0px 0px 20px ;
            }
            h4{
                padding: 10px 0px;
            }
            .dd1{
                margin: 50px 0px 0px ;
            }
        }
    } 
}
.rem{
    width: 100%;
    .rem1{
        width: 1600px;
        margin: auto;
        padding: 0px 180px 20px;
        h3{
            margin-left: 60px;
        }
    }
}