.experience {
  width: 100%;
  background-color: #fff;
}

.experience .experience1 {
  width: 1600px;
  padding: 20px 180px 0px;
  margin: auto;
  border-top: 1px solid #F7F7F7;
}

.experience .experience1 h1 {
  text-align: center;
  padding: 25px 0px;
}

.experience .experience1 ul {
  overflow: hidden;
}

.experience .experience1 ul li {
  width: 120px;
  float: left;
  text-align: center;
  font-size: 23px;
  margin-right: 100px;
  margin-top: 20px;
}

.experience .experience1 ul li:nth-child(1) {
  margin-left: 445px;
}

.experience .experience1 ul .red {
  color: red;
  border-bottom: 2px solid red;
}

.boxG {
  width: 100%;
  background: #F7F7F7;
}

.boxG .boxG1 {
  width: 1600px;
  padding: 20px 180px;
  margin: auto;
  overflow: hidden;
}

.boxG .boxG1 .div700 {
  width: 700px;
  float: left;
}

.boxG .boxG1 .div700 div {
  width: 700px;
  height: 376px;
  border-radius: 10px;
  position: relative;
}

.boxG .boxG1 .div700 div .aaa1 {
  position: absolute;
  border-radius: 0px;
  bottom: 0px;
  width: 700px;
  height: 150px;
  border-radius: 0 0 10px 10px;
  background: rgba(255, 255, 255, 0.8);
}

.boxG .boxG1 .div700 div .aaa1 p {
  padding: 30px 20px;
  font-size: 18px;
}

.boxG .boxG1 .div700 div .aaa1 .su {
  width: 350px;
  height: 50px;
  float: left;
  line-height: 53px;
}

.boxG .boxG1 .div700 div .aaa1 .su span {
  margin-right: 15px;
}

.boxG .boxG1 .div700 div .aaa1 .su span:nth-child(2) {
  color: red;
}

.boxG .boxG1 .div700 div .aaa1 .su span:nth-child(1) {
  float: left;
  width: 20px;
  height: 20px;
  margin: 17px 20px 0px 30px;
  border-radius: 50%;
  background: url("./../img/tx.jpg");
}

.boxG .boxG1 .div700 div .aaa1 .zan {
  height: 50px;
  width: 140px;
  float: right;
  line-height: 53px;
}

.boxG .boxG1 .div700 div .aaa1 .zan span:nth-child(2) {
  margin-right: 16px;
}

.boxG .boxG1 .div700 .a1 {
  background: url("./../img/bg1.jpg");
}

.boxG .boxG1 .div700 .a2 {
  background: url("./../img/bg2.jpg");
}

.boxG .boxG1 .div700 .a3 {
  background: url("./../img/bg3.jpg");
}

.boxG .boxG1 .div700 .a4 {
  background: url("./../img/bg4.jpg");
}

.boxG .boxG1 .div700 .a5 {
  background: url("./../img/bg5.jpg");
}

.boxG .boxG1 .div700 .b1 {
  background: url("./../img/bg8.jpg");
}

.boxG .boxG1 .div700 .b2 {
  background: url("./../img/bg7.jpg");
}

.boxG .boxG1 .div700 .b3 {
  background: url("./../img/bg6.jpg");
}

.boxG .boxG1 .div700 .b4 {
  background: url("./../img/bg5.jpg");
}

.boxG .boxG1 .div700 .b5 {
  background: url("./../img/bg4.jpg");
}

.boxG .boxG1 .div700 .ww {
  width: 700px;
  border-radius: 10px;
  height: 50px;
  margin: 20px 0px;
  border: 1px solid #eeeeee;
  text-align: center;
  line-height: 50px;
  color: #0f0e0e;
}

.boxG .boxG1 .div700 .ccc {
  height: 30px;
  text-align: center;
  color: red;
}

.boxG .boxG1 .intr3 {
  width: 280px;
  float: right;
  margin-right: 160px;
}

.boxG .boxG1 .intr3 h3 {
  padding: 5px 15px;
  border-left: 7px solid red;
}

.boxG .boxG1 .intr3 h1 {
  padding: 20px 30px;
  color: red;
}

.boxG .boxG1 .intr3 div {
  width: 280px;
  height: 40px;
  background: red;
  color: #fff;
  font-size: 600;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  border-radius: 10px;
}

.boxG .boxG1 .intr3 .gw {
  text-align: center;
  color: #7B7A7A;
  font-size: 14px;
  padding: 10px 0px 20px;
}

.boxG .boxG1 .intr3 img {
  width: 280px;
  margin: 10px 0px;
}

.boxG .boxG1 .intr3 p {
  color: #7B7A7A;
  font-size: 14px;
  padding: 0px 0px 20px;
}

.boxG .boxG1 .intr3 h4 {
  padding: 10px 0px;
}

.boxG .boxG1 .intr3 .dd1 {
  margin: 50px 0px 0px;
}
/*# sourceMappingURL=14-reprt_newest.css.map */