<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <link rel="stylesheet" href="./../css/head.css">
    <link rel="stylesheet" href="./../css/bottom.css">
    <link rel="stylesheet" href="./../css/02-coldplay_newst.css">
</head>
<body>
    <!-- 头部 -->
    <header>
        <!-- 头部 -->
       <div class="now">
           <ul class="left">
               <li></li>
               <li>首页</li>
               <li>酷玩</li>
               <li>导购</li>
               <li>试用</li>
               <li>报告</li>
           </ul>
           <ul class="right">
               <li>
                   <div></div>
                   <span>注册</span>
               </li>
           </ul>
       </div>
       <div class="clear"></div>
    </header>
    <!-- 中部 -->
        <div class=" box">
            <div class=" box1">
                <h1>发现酷玩</h1>
                <div class="div_felt">
                    <div class="div_red d_new">最新</div>
                    <div class="d_hot">最热</div>
                    <div class="pinlei">品类</div>
                </div>
            </div>
            <!-- 模板引擎 -->
            <script src="./../js/template-web.js"></script>
            <!-- 最新容器 -->
            <div class="body_div">
                <div class="body_div1">
                    <div class="test" style="display: block;"></div>
                    <div class="category" style="display: none;">
                        <div class="sh">
                            

                            <div class="shenghuo">
                            </div>
                            <div class="shenghuo2"></div>
                        </div>
                        <div class="geren">
                            <h3>个人护理</h3>
                            <div class="gr_top"></div>
                            <div class="gr_bottom"></div>
                        </div>
                        <div class="geren jiankang">
                            <h3>健康</h3>
                            <div class="gr_top jk_top"></div>
                            <div class="gr_bottom jk_bottom"></div>
                        </div>
                        <div class="geren zhineng">
                            <h3>智能穿戴</h3>
                            <div class="gr_top zn_top"></div>
                            <div class="gr_bottom zn_bottom"></div>
                        </div>
                        <div class="geren chuxing">
                            <h3>出行</h3>
                            <div class="gr_top cx_top"></div>
                            <div class="gr_bottom cx_bottom"></div>
                        </div>
                        <div class="geren sheying">
                            <h3>摄影</h3>
                            <div class="gr_top sy_top"></div>
                            <div class="gr_bottom sy_bottom"></div>
                        </div>
                        <div class="geren shouji">
                            <h3>手机</h3>
                            <div class="gr_top sj_top"></div>
                            <div class="gr_bottom sj_bottom"></div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- 品类容器 -->
            <!-- <div class="category">
                <div class="caregory1">

                </div>
            </div> -->
        </div>
    <!-- 底部 -->
    <!-- 尾部 -->
    <div class="b_big">
        <div class="bottom">
            <div class="code">
                <img src="./../img/code.png" alt="">
            </div>
            <div class="jiguo">
                <img src="./../img/logoImg.jpg" alt="">
            </div>
            <div class="lis">
                <div class="d_ul">
                    <span>免费试用</span>
                    <ul>
                        <li>试用流程</li>
                        <li>如何提高成功率</li>
                    </ul>
                </div>  
                <div class="d_ul">
    
                <span>友情链接</span>
                <ul>
                    <li>智东西</li>
                    <li>搜狐IT</li>
                    <li>搜狐数码</li>
                    <li>凤凰数码</li>
                    <li>泡泡网</li>
                    <li>ZUK社区</li>
                    <li>极客公园</li>
                    <li>果库</li>
                </ul>
                <ul>
                    <li>WEIBUSI</li>
                    <li>腾讯科技</li>
                    <li>凤凰科技</li>
                    <li>PConline</li>
                    <li>3W咖啡</li>
                    <li>亿觅emie</li>
                    <li>易迅易启玩</li>
                </ul>
                </div>
                <div class="d_ul">
    
                <span>购买攻略</span>
                <ul>
                    <li>美亚海淘教程</li>
                    <li>日亚海淘教程</li>
                    <li>海淘转运攻略</li>
                    <li>kickstarter 众筹购买攻略</li>
                    <li>indiegogo 众筹购买攻略</li>
                </ul>
                </div>
                <div class="d_ul">
    
                <span>广商合作</span>
                <ul>
                    <li>关于极果</li>
                    <li>联系我们</li>
                    <li>商务合作：BD@jiguo.com</li>
                    <li>CEO邮箱：CEO@jiguo.com</li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="./../js/oajax.js"></script>
<script id="colP" type="text/html">
    {{each value}}
        <div class="ajax_22">
            <div class="imgs"><img src={{$value[0].img}} alt=""></div>
            <p>{{$value[0].text}}</p>
            <div class="m_z">
                <span>{{$value[0].price}}</span>
                <div>
                    <span><img src="./../img/zan.png" alt=""></span>
                    <span>{{$value[0].like}}</span>
                    <span><img src="./../img/reply.png" alt=""></span>
                    <span>{{$value[0].words}}</span>
                </div>
            </div>
        </div>
        <div class="ajax_22">
            <div class="imgs"><img src="{{$value[1].img}}" alt=""></div>
            <p>{{$value[1].text}}</p>
            <div class="m_z">
                <span>{{$value[1].price}}</span>
                <div>
                    <span><img src="./../img/zan.png" alt=""></span>
                    <span>{{$value[1].like}}</span>
                    <span><img src="./../img/reply.png" alt=""></span>
                    <span>{{$value[1].words}}</span>
                </div>
            </div>
        </div>
        <div class="ajax_22">
            <div class="imgs"><img src="{{$value[2].img}}" alt=""></div>
            <p>{{$value[2].text}}</p>
            <div class="m_z">
                <span>{{$value[2].price}}</span>
                <div>
                    <span><img src="./../img/zan.png" alt=""></span>
                    <span>{{$value[2].like}}</span>
                    <span><img src="./../img/reply.png" alt=""></span>
                    <span>{{$value[2].words}}</span>
                </div>
            </div>
        </div>
        <div class="ajax_22">
            <div class="imgs"><img src="{{$value[3].img}}" alt=""></div>
            <p>{{$value[3].text}}</p>
            <div class="m_z">
                <span>{{$value[3].price}}</span>
                <div>
                    <span><img src="./../img/zan.png" alt=""></span>
                    <span>{{$value[3].like}}</span>
                    <span><img src="./../img/reply.png" alt=""></span>
                    <span>{{$value[3].words}}</span>
                </div>
            </div>
        </div>
        <div class="ajax_22">
            <div class="imgs"><img src="{{$value[4].img}}" alt=""></div>
            <p>{{$value[4].text}}</p>
            <div class="m_z">
                <span>{{$value[4].price}}</span>
                <div>
                    <span><img src="./../img/zan.png" alt=""></span>
                    <span>{{$value[4].like}}</span>
                    <span><img src="./../img/reply.png" alt=""></span>
                    <span>{{$value[4].words}}</span>
                </div>
            </div>
        </div>
    {{/each}}
</script>
<script id="colP2" type="text/html">
    <!-- 酷玩品类模板 -->
    <h3>生活</h3>
    {{each value}}
    {{if $value.icon}}
        <div class="play_min">
            <img src={{$value.icon}} alt="">
            <p><span>{{$value.productName}}</span><span>({{$value.nums}})</span></p>
        </div>
    {{/if}}
    {{/each}}
</script>
<script id="colP3" type="text/html">
    {{each value}}
    {{if !$value.icon}}
    <div class="play_min2">
        <span>{{$value.productName}}</span><span>({{$value.nums}})</span>
    </div>
    {{/if}}
    {{/each}}
</script>
<!-- 个人护理 -->
<script id="huli" type="text/html">
    {{each value}}
    {{if $value.icon}}
        <div class="geren_min">
            <img src={{$value.icon}} alt="">
            <p><span>{{$value.productName}}</span><span>({{$value.nums}})</span></p>
        </div>
    {{/if}}
    {{/each}}
</script>
<script id="huli2" type="text/html">
    {{each value}}
    {{if !$value.icon}}
    <div class="geren_min2">
        <span>{{$value.productName}}</span><span>({{$value.nums}})</span>
    </div>
    {{/if}}
    {{/each}}
</script>


<script>
    ajax_api('http://192.168.31.110:3000/play/new',fnz)
        function fnz(obj){
            var chtml=template('colP',{
                value:obj
            })
            document.getElementsByClassName('test')[0].innerHTML=chtml
        }
        function fny(obj){
            var yhtml=template('colP2',{
                value:obj.live
            })
            document.getElementsByClassName('shenghuo')[0].innerHTML=yhtml
        }
        function fny2(obj){
            var whtml=template('colP3',{
                value:obj.live
            })
            document.getElementsByClassName('shenghuo2')[0].innerHTML=whtml
        }
        function fng(obj){
            var whtml=template('huli',{
                value:obj.personal_care
            })
            document.getElementsByClassName('gr_top')[0].innerHTML=whtml
        }
        function fng2(obj){
            var whtml=template('huli2',{
                value:obj.personal_care
            })
            document.getElementsByClassName('gr_bottom')[0].innerHTML=whtml
        }
        function fnj(obj){
            var whtml=template('huli',{
                value:obj.smart_wear
            })
            document.getElementsByClassName('jk_top')[0].innerHTML=whtml
        }
        function fnj2(obj){
            var whtml=template('huli2',{
                value:obj.smart_wear
            })
            document.getElementsByClassName('jk_bottom')[0].innerHTML=whtml
        }
        function fnz1(obj){
            var whtml=template('huli',{
                value:obj.trip
            })
            document.getElementsByClassName('zn_top')[0].innerHTML=whtml
        }
        function fnz2(obj){
            var whtml=template('huli2',{
                value:obj.trip
            })
            document.getElementsByClassName('zn_bottom')[0].innerHTML=whtml
        }
        function fnc(obj){
            var whtml=template('huli',{
                value:obj.outdoor
            })
            document.getElementsByClassName('cx_top')[0].innerHTML=whtml
        }
        function fnc2(obj){
            var whtml=template('huli2',{
                value:obj.outdoor
            })
            document.getElementsByClassName('cx_bottom')[0].innerHTML=whtml
        }
        function fnsy(obj){
            var whtml=template('huli',{
                value:obj.digital
            })
            document.getElementsByClassName('sy_top')[0].innerHTML=whtml
        }
        function fnsy2(obj){
            var whtml=template('huli2',{
                value:obj.digital
            })
            document.getElementsByClassName('sy_bottom')[0].innerHTML=whtml
        }
        function fnsj(obj){
            var whtml=template('huli',{
                value:obj.digital
            })
            document.getElementsByClassName('sj_top')[0].innerHTML=whtml
        }
        function fnsj2(obj){
            var whtml=template('huli2',{
                value:obj.digital
            })
            document.getElementsByClassName('sj_bottom')[0].innerHTML=whtml
        }
    var  div_felt = document.getElementsByClassName('div_felt')[0].children
    var body_div = document.getElementsByClassName('body_div')[0]
    var body_div1 = document.getElementsByClassName('body_div1')[0]
    var ajax_22 = body_div1.children
    var test = document.getElementsByClassName('test')[0]
    var category = document.getElementsByClassName('category')[0]

    // var ajax_22 = document.getElementsByClassName('ajax_22')

        div_felt[0].onclick = function(){
            // var category = document.getElementsByClassName('category')[0]

            for(var i = 0;i<div_felt.length;i++){
                div_felt[i].classList.remove('div_red')
            }
            this.classList.add('div_red')
            // var tests_ = document.createElement('div')
            // tests_.classList.add('test')
            // body_div1.appendChild(tests_)
            category.style.display = 'none'
            test.style.display = 'block'

            // body_div1.removeChild(category)

            ajax_api('http://192.168.31.110:3000/play/new',fnz)

        }
        div_felt[1].onclick = function(){
            for(var i = 0;i<div_felt.length;i++){
                div_felt[i].classList.remove('div_red')
            }
            this.classList.add('div_red')
            category.style.display = 'none'
            test.style.display = 'block'
            ajax_api('http://192.168.31.110:3000/play/hot',fnz)
        }
        div_felt[2].onclick = function(){
            for(var i = 0;i<div_felt.length;i++){
                div_felt[i].classList.remove('div_red')
            }
            this.classList.add('div_red')
            test.style.display = 'none'
            category.style.display = 'block'
            ajax_api('http://192.168.31.110:3000/play/category',fny)
            ajax_api('http://192.168.31.110:3000/play/category',fny2)
            ajax_api('http://192.168.31.110:3000/play/category',fng)
            ajax_api('http://192.168.31.110:3000/play/category',fng2)
            ajax_api('http://192.168.31.110:3000/play/category',fnj)
            ajax_api('http://192.168.31.110:3000/play/category',fnj2)
            ajax_api('http://192.168.31.110:3000/play/category',fnz1)
            ajax_api('http://192.168.31.110:3000/play/category',fnz2)
            ajax_api('http://192.168.31.110:3000/play/category',fnc)
            ajax_api('http://192.168.31.110:3000/play/category',fnc2)
            ajax_api('http://192.168.31.110:3000/play/category',fnsy)
            ajax_api('http://192.168.31.110:3000/play/category',fnsy2)
            ajax_api('http://192.168.31.110:3000/play/category',fnsj)
            ajax_api('http://192.168.31.110:3000/play/category',fnsj2)

        }

</script>

</html>