<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../css/head.css">
    <link rel="stylesheet" href="./../css/bottom.css">
    <link rel="stylesheet" href="./../css/13-coldplay.css">
</head>
<body>
    <header>
        <!-- 头部 -->
       <div class="now">
           <ul class="left">
               <li></li>
               <li>首页</li> 
               <li>酷玩</li>
               <li>导购</li>
               <li>试用</li>
               <li>报告</li>
           </ul>
           <ul class="right">
               <li>
                   <div></div>
                   <span>注册</span>
               </li>
           </ul>
       </div>
       <div class="clear"></div>
    </header>
    <section>
        <div class="box">
            <div class="box1">
                <h1>幻想小贝HiEi2.1音箱</h1>
                <div>
                    <span>126人申请</span>
                    <span>￥599</span> 
                    <span>20台</span>
                </div>
                <h4>申请时间剩余：<span id="time_"></span></h4>
                <div class="div_">立即申请</div>
            </div>
        </div>
    </section>
    <div class="boxb">
        <div class="boxb1">
            <ul>
                <li>
                    试用流程
                </li>
                <li>
                    <img src="./../img/use1.png" alt="">
                    开放申请
                </li>
                <li>
                    <img src="./../img/use2.png" alt="">
                    名单公布</li>
                <li>
                    <img src="./../img/use3.png" alt="">
                    产品试用</li>
                <li>
                    <img src="./../img/use4.png" alt="">
                    提交反馈</li>
                <li>
                    <img src="./../img/use5.png" alt="">
                    活动结束</li>
            </ul>
        </div>
     
    </div>
    <div class="introduce">
        <div class="introduce1">
            <div class="introduce2">
                <h3 class="title">产品介绍</h3>
                <h3>多重功能集成的便携控制中心：半果控制中心。</h3>
                <p>
                    半果控制中心是一台功能高度集成的便携控制设备，包含WiFi收发模块、蓝牙4.1模块、独立声卡系统、音乐控制拨盘、麦克风语音接收、3.5mm耳机接口、高速数据传输、QC2.0快速充电、Type-C接口等。仅需将其与电脑连接，即可解决科技生活中遇到的种种痛点。  
                </p>
                <img src="./../img/use1.jpg" alt="">
                <h3 class="titleblue">产品介绍</h3>
                <p>
                    极致一体化，机身表面没有一丝接缝和一颗螺丝。采用突破性的液态金属质感工艺，无任何键位开关，所有功能同时自然高效运行。
                </p>
                <h3 class="titleblue">无线网络</h3>
                <p>
                    台式机或无自带网卡的电脑只需插入半果控制中心，切换至网卡模式即可接受WiFi信号。还可创建WiFi热点，让你的手机和平板立刻联网。
                </p>
                <img src="./../img/use.jpg" alt="">
                <h3 class="titleblue">蓝牙连接</h3>
                <p>
                    先进的超低功耗蓝牙4.1，设备配对连接更便捷。可将所有设备连接至一台控制中心，数据传输速率大幅提高。
                </p>
                <h3 class="titleblue">独立声卡</h3>
                <p>
                    配备德州仪器HiFi芯片，内置Max Bass技术，带来更高解析力音质。并且采用独立耳机放大器，内置麦克风，任何软件都可轻松调用。
                </p>
                <h3 class="titleblue">极速充电</h3>
                <p>
                    支持QC 2.0快充协议，使用一根Type-C线，4个USB可同时极速快充，并且每个接口都拥有芯片级的4重保护，告别插线板和充电器。
                </p>
                <h3 class="title">活动介绍</h3>
                <p>
                    点击申请按钮报名，报名成功后记得邀请好友一起来参与哦~邀请好友数前十名将根据申请理由和影响力抽取一位直接获得试用机会。请认真填写申请理由，展现有创意的试用计划。进入手机端完善个人主页信息，可以大大提高申请通过几率哦~
                </p>
                <h4>
                    试用报告要求100% 原创，抄袭会被封杀哦！
                </h4>
                <h3>
                    活动流程
                </h3>
                <p class="a1">
                    <span>
                        1.名单公布
                    </span>
                    ：试用名单将在活动页公布
                </p>
                <p class="a1">
                    <span>
                        2.试用通知
                    </span>
                    ：名单公布后客服将以短信的方式通知申请成功者，2天不回复算弃权
                </p>
                <p class="a1">
                    <span>
                        3.押金收取
                    </span>
                    ：客服将统一通知大家收取产品押金
                </p>
                <p class="a1">
                    <span>
                        4.产品寄送
                    </span>
                    ：收到押金后第一时间将产品快递给大家
                </p>
                <p class="a1"
                    ><span>
                        5.网络晒单
                    </span>
                    ：收货后请在微博或朋友圈等社交网络晒单
                </p>
                <p class="a1">
                    <span>  
                        6.试用报告
                    </span>
                    ：收到货的10天内完成报告并上传
                </p>
                <p class="a1">
                    <span>
                        7.产品回收
                    </span>
                    ：选取6篇优秀报告，赠送产品
                </p>
                <p class="a1">
                    <span>
                        8.押金退回
                    </span>
                    ：活动结束返还，人为损坏须赔偿
                </p>

            </div>
            <div class="intr3">
                <h3>购买渠道</h3>
                <h1>￥599</h1>
                <div>立即购买</div>
                <p class="gw">来自官网</p>
                <h3>极果体验师</h3>
                <img src="./../img/tiyanImg.jpg" alt="">
                <p>
                    第一时间体验新品，大众试用优先通过，还有定向邀请试用，新品玩到手软！
                </p>
                <h4>要求</h4>
                <p>
                    是某个领域的大神玩家，在社交网络或圈子里有大影响，善写作会拍摄
                </p>
                <h4>申请</h4>
                <p>
                    1.关注极果公众号：jguojguo<br>
                    (或扫描下方二维码)<br>
                    2.在公众号内回复：体验师
                </p>
                <h3 class="dd1">关注我们</h3>
                    <img src="./../img/myCode.jpg" alt="">
            </div>
        </div>
    </div>
     <!-- ajax -->
    <div class="rem">
        <div class="rem1">
            <h3>热门试用</h3>
            <!-- ajax -->
            <div class="d_all">

            </div>
        </div>
    </div>

<!-- 1.移入模板引擎 -->
<script src="./../js/template-web.js"></script>
<!-- 2准备页面容器 -->

<!-- 3准备模板 -->
<script id="shiy" type="text/html">
    {{each value}}
    <div class="all_min">
        {{if $value.info_ty === '首发'}}
        <div class="ri_top">{{$value.info_ty}}</div>
        {{else if $value.info_ty === '体验师转享'}}
        <div class="ri_top2">{{$value.info_ty}}</div>

        {{/if}}
        <img src={{$value.img}} alt="" class="img_">
        <p class="text_">{{$value.text}}</p>
        {{if $value.endTime}}
        <p class="totalnum_p color_"><span class="totalnum color_">{{$value.totalnum}}</span><span class="num color_">{{$value.num}}</span></p>
        <p class="apply_p color_"><span class="apply1 color_">{{$value.apply}}</span>申请</p>
        <p class="shengyu color_">剩余时间:<span>2</span></p>
        {{else if $value.report}}
        <p class="totalnum_p color_2"><span class="totalnum color_2">{{$value.totalnum}}</span><span class="num color_2">{{$value.num}}</span></p>
        <p class="apply_p color_2"><span class="apply2 color_2">{{$value.apply}}</span>申请</p>
        <p class="report_p2 color_2">报告数量:<span class="report2 color_2">{{$value.report}}</span></p>
        {{else if $value.uName}}
        <p class="totalnum_p color_3"><span class="totalnum color_3">{{$value.totalnum}}</span><span class="num color_3">{{$value.num}}</span></p>
        <p class="apply_p color_3"><span class="apply3 color_3">{{$value.apply}}</span>申请</p>
        <p class="report_p3 color_3"><span class="uName3 color_3">{{$value.uName}}</span></p>
        {{/if}}
    </div>
    {{/each}}
</script>









    <!-- 底部 -->
    <div class="b_big">
        <div class="bottom">
            <div class="code">
                <img src="./../img/code.png" alt="">
            </div>
            <div class="jiguo">
                <img src="./../img/logoImg.jpg" alt="">
            </div>
            <div class="lis">
                <div class="d_ul">
                    <span>免费试用</span>
                    <ul>
                        <li>试用流程</li>
                        <li>如何提高成功率</li>
                    </ul>
                </div>  
                <div class="d_ul">
    
                <span>友情链接</span>
                <ul>
                    <li>智东西</li>
                    <li>搜狐IT</li>
                    <li>搜狐数码</li>
                    <li>凤凰数码</li>
                    <li>泡泡网</li>
                    <li>ZUK社区</li>
                    <li>极客公园</li>
                    <li>果库</li>
                </ul>
                <ul>
                    <li>WEIBUSI</li>
                    <li>腾讯科技</li>
                    <li>凤凰科技</li>
                    <li>PConline</li>
                    <li>3W咖啡</li>
                    <li>亿觅emie</li>
                    <li>易迅易启玩</li>
                </ul>
                </div>
                <div class="d_ul">
    
                <span>购买攻略</span>
                <ul>
                    <li>美亚海淘教程</li>
                    <li>日亚海淘教程</li>
                    <li>海淘转运攻略</li>
                    <li>kickstarter 众筹购买攻略</li>
                    <li>indiegogo 众筹购买攻略</li>
                </ul>
                </div>
                <div class="d_ul">
    
                <span>广商合作</span>
                <ul>
                    <li>关于极果</li>
                    <li>联系我们</li>
                    <li>商务合作：BD@jiguo.com</li>
                    <li>CEO邮箱：CEO@jiguo.com</li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="./../js/oajax.js"></script>
<script>
    // 倒计时
    var ss = setInterval(function(){
    var time_ = document.getElementById('time_')
    var now_times = new Date()
    var le_times = new Date('2022-03-01 00:00:00')
    var num = (le_times - now_times) / 1000; //获取时间差  秒
            var d = parseInt(num / 60 / 60 / 24 ) ;//天
            d = d < 10 ? '0' + d : d;
            var h = parseInt(num /60 / 60 % 24) ; //小时
            h = h < 10 ? '0' + h : h;
            var m = parseInt(num /60 % 60) ; //分
            m = m < 10 ? '0' + m : m;
            var s = parseInt(num % 60); //秒
            s = s < 10 ? '0' + s : s;
            time_.innerHTML=`${d}天${h}时${m}分${s}秒`
},1000)

ajax_api('http://192.168.31.110:3000/useing/public',sh)
    function sh(obj){
        var html = template('shiy',{
            value:obj
        })
        document.getElementsByClassName('d_all')[0].innerHTML= html
    }



</script>
</html>